@charset "utf-8";
* {
	margin: 0;
	padding: 0;
}

body {
	text-align:justify;
    word-wrap:break-word;
    font-family:'Open Sans', sans-serif;
    letter-spacing:1px;
    font-size:10px;
    background-color: white;
    color: #666;
	}

    a {text-decoration:none;
    color:#555;
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;}

    a:hover {color:#eee;}

    b, strong {font-weight:normal;
    color:{color:bold text};}
}

/* Bordered form */
form {
    border: 3px solid #f1f1f1;
    position: absolute;

}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 500px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 11px;
    text-align: center;
    letter-spacing: 5px;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 500px;
    letter-spacing: 3px;
    font-size: 14px;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}